%script{:type => "text/javascript"}
  var NOVAHawk.calendar.calDateFrom = new Date(#{@perf_options[:sdate]});
  var NOVAHawk.calendar.calDateTo = new Date(#{@perf_options[:edate]});
  - if WidgetPresenter.chart_data.present?
    NOVAHawk.charts.chartData = #{WidgetPresenter.chart_data.to_json};

= render :partial => "layouts/flash_msg"
= render :partial => "layouts/perf_options"
= render :partial => "layouts/perf_charts"
